#btnstyle {
  background: linear-gradient(135deg, #1cd8ba 0%, #06abee 100%);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px 25px;
  border: none;
}

.content {
  margin-top: 20px;
  padding: 10px;
}

#headerTitle {
  font-family: 'Yeseva One', cursive;
  font-size: 80px;
  line-height: 60px;
  color: #0d052e;
}

@media screen and (max-width:800PX) {
  #headerTitle {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    line-height: 40px;
    color: #0d052e;
  }
}