#btnstyle{
 background:  linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
 border-top-left-radius:25px;
 border-bottom-right-radius: 20px;
 padding: 9px 20px;
}
.content{
  margin-top: 20px;
  padding: 10px;
}
#headerTitle{
  font-family: 'Yeseva One', cursive;
  font-size: 70px;
  line-height: 50px;
  color: #0D052E;
}
@media screen and (max-width:800PX){
  #headerTitle{
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    line-height: 40px;
    color: #0D052E;
  }
}